main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
}

.blog p, .blog h1, .wp-block-post-date {
    width: 100%;
    object-fit: cover;
}

.blog img {
    display: none;
}

.blogpost-image-container {
    max-width: 800px;
    margin: auto;
}

.blogpost-image {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 40px;
    margin: auto;
    cursor: pointer;
}

h1 {
    margin-bottom: 0px !important;
}

.wp-block-post-date {
    font-family: "Jost", Arial, Helvetica;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

@media only screen and (max-width: 836px) {
    .blogpost-image {
        height: 60vw;
    }
}

@media only screen and (max-width: 625px) {
    .blogpost-image {
        height: 375px;
    }
}

@media only screen and (max-width: 470px) {
    .blogpost-image img {
        height: 250px;
    }
}