#nav-blogs, #mobile-nav-blogs {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#mobile-nav-blogs {
    color: var(--blue);
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
}

.page-title {
    padding-top: 10px;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

/* PAGE NAV */

.page-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.page-nav-main {
    display: flex;
    gap: 10px;
}

.page-nav p, .page-nav a {
    font-size: 20px;
}

.page-nav a {
    margin-bottom: 10px;
}

.page-nav img {
    width: 10px;
}

.page-1-arrow {
    margin-right: 10px;
}

.page-2-arrow {
    margin-left: 10px;
}

.page-nav-mobile, .page-nav-mobile-space {
    display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 980px) {
    .blog-list {
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        width: 640px;
    }
    .blog-post {
        height: 330px;
    }
}

@media only screen and (max-width: 660px) {
    .blog-list {
        width: 300px;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 450px) {
    .page-nav {
        display: none;
    }

    .page-nav-mobile {
        display: flex;
        align-items: center;
        background-color: var(--black);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 58px;
    }

    .page-nav-main-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 20px;
        width: 200px;
    }

    .page-1-mobile, .page-2-mobile {
        font-size: 40px;
    }

    .page-1-mobile a, .page-2-mobile a {
        color: var(--white);
        text-decoration: none;
    }

    .page-nav-main-mobile img, .page-1-arrow-mobile, .page-2-arrow-mobile {
        height: 30px;
    }

    .page-1-arrow-mobile {
        margin-right: 40px;
    }
    
    .page-2-arrow-mobile {
        margin-left: 40px;
    }

    .page-nav-mobile-space {
        display: block;
        color: var(--background-color);
        height: 58px;
    }
}

@media only screen and (max-width: 340px) {
    .blog-list, .blog-post, .blog-post-thumbnail {
        max-width: 88.1vw !important;
    }

    .blog-post {
        height: 98.5vw !important;
        border-radius: 11.5vw !important;
    }
    
    .blog-post-thumbnail {
        border-top-right-radius: 11.5vw !important;
        border-top-left-radius: 11.5vw !important;
    }
    
    .blog-title {
        font-size: 7.4vw !important;
        max-width: 88vw !important;
    }
    
    .blog-date {
        font-size: 4.7vw !important;
    }
}

