#nav-contact {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.page-content, .contact-forms {
    margin: auto;
    width: 600px;
}

.page-content {
    text-align: center;
    margin-bottom: 40px;
}

/* CONTACT FORMS */

.contact-forms {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-forms input, textarea {
    font-family: "Jost";
    font-size: 18px;
    width: 100%;
    border: 1.5px solid var(--solid-black);
    border-radius: 5px;
    padding: 5px;
    resize: none;
}

.contact-forms input {
    height: 40px;
}

.form-title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    white-space: nowrap;
}

.forms-error {
    color: var(--red);
    font-size: 13px;
    display: none;
}

#name-email-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

#submit-button {
    margin-top: 20px;
    width: 125px;
    height: 38px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    background-color: var(--blue);
    color: var(--white);
}

#submit-button:hover {
    background-color: var(--blue-hover);
}

#submit-button:active {
    background-color: var(--blue-click);
}

@media only screen and (max-width: 650px) {
    .page-content, .contact-forms {
        width: 92vw;
    }
}
