header {
    background-color: var(--green);
    position: sticky;
    top: 0;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

.header-ul {
    list-style: none;
    font-family: "Jost";
    font-size: 25px;
    font-display: swap;
    white-space: nowrap;
    margin: auto;
}

.header-li a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.blog-logo {
    width: 250px;
    margin-left: 20px;
}

.hamburger-button {
    display: none;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 700px) {
    .header-li a {
        margin: 0px;
    }
}

@media only screen and (max-width: 625px) {
    .header-ul {
        display: none;
    }

    .blog-logo {
        height: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .hamburger-button {
        display: block;
        height: 27px;
        margin-left: 20px;
    }
    
    .mobile-nav {
        flex-direction: column;
        background-color: var(--black);
        color: var(--white);
        width: 100%;
        height: 100%;
        position: fixed;
    }
    
    .mobile-header-li {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 40px;
        margin-top: 30px;
    }

    .mobile-header-li a {
        text-decoration: none;
        color: var(--white);
        font-family: "Jost";
        font-size: 40px;
    }

    .copyright-mobile {
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 80px;
    }
}