.image-modal {
    display: none;
    z-index: 1;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.modal-background {
    position: fixed;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.image-modal, .modal-background {
    width: 100%;
}

.image-modal img {
    z-index: 2;
    max-width: 80%;
    max-height: 95vh;
    border: var(--white) solid 2px;
}

.modal-x {
    z-index: 3;
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 50px;
    font-weight: bolder;
    color: var(--white);
    cursor: pointer;
}

@media only screen and (max-width: 625px) {
    .image-modal img {
        max-width: 98%;
        max-height: 75%;
    }
}

@media only screen and (max-width: 550px) {
    .modal-x {
        right: 0px;
        left: 23px;
    }
}