* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #2FD426;
    --blue: #1EA6A0;
    --blue-hover: #20c2ba;
    --blue-click: #24d6cd;
    --red: #D4262F;
    --black: #2B2B2B;
    --background-color: #F8F8F8;
    --solid-black: #000000;
    --white: #ffff;
    color-scheme: only light;
}

::-moz-selection {
    background: var(--blue-hover);
  }

::selection {
    background: var(--blue-hover);
  }

body {
    background-color: var(--background-color);
}

main {
    min-height: 100vh;
}

h1 {
    font-family: "Bebas Neue", Impact, Verdana;
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
}

p, .wp-block-post-date, .blog-post, .page-nav-main, .page-1-mobile, .page-2-mobile, .contact-forms input, textarea, .copyright, .header-ul, .mobile-header-li a, #carousel-title {
    font-family: "Jost", Arial, Helvetica;
}

.page-content, .blog, .blogpost-image-container {
    max-width: 800px;
    padding: 10px !important;
}