* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #2FD426;
    --blue: #1EA6A0;
    --blue-hover: #20c2ba;
    --blue-click: #24d6cd;
    --red: #D4262F;
    --black: #2B2B2B;
    --background-color: #F8F8F8;
    --solid-black: #000000;
    --white: #ffff;
    color-scheme: only light;
}

::-moz-selection {
    background: var(--blue-hover);
  }

::selection {
    background: var(--blue-hover);
  }

body {
    overflow-x: hidden;
    background-color: var(--background-color);
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-family: "Bebas Neue", Impact, Verdana;
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

p {
    font-family: "Jost", Arial, Helvetica;
    font-size: 18px;
}

.page-content, .blog {
    max-width: 800px;
    padding: 10px !important;
}

.error-message {
    color: var(--red);
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 470px) {
    h1 {
        font-size: 30px;
    }
}